.Card {
    background-color: lightblue;
    padding: 1%;
    color: white;
    border-radius: 30px;
    margin-left: 7%;
    width: 63%;
    border-color: blueviolet;
    height: auto;
    top: 13%;
    border: solid;
    overflow: hidden;
    position: absolute;
}
