.CardItem {
    background-color: transparent;
    display: innline-block;
    color: black;
    border-radius: 50px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 150px;
    width: 45%;
    text-align: center;
    margin-left: -3%;
    margin-right: 8%;
    border-color: black;
    border-width: 3px;
    font-size: 18px;
    font-family: 'David CLM BoldItalic';
    vertical-align:central;
}

    .CardItem:hover {
        background-color: #00C6CF;
    }

