
.input {
    width: 50%;
    height: 40px;
    background-color: white;
    text-align: center;
    border: none;
    border-bottom: solid;
    font-size: 18px;
    margin: 0;
    float: left;
    border-radius: 20px 0px 0px 20px;
}
