.left {
    float: right;
    margin-right: 1%;
    margin-top: 3%;
    border: 3px solid black;
    width: 23%;
    height: auto;
    background-color: transparent;
    color: black;
    margin-bottom: 2%;
    padding: 1%;
}
.text {
    font-family: 'David CLM BoldItalic';
}
